@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;

    --transparent: transparent;
    --error: 253 56 79;
    --font: 95 99 104;
    --black: 36 35 36;
    --white: 255 255 255;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
    --radius: 0.5rem;

    --transparent: transparent;
    --error: 253 56 79;
    --font: 198 197 205;
    --black: 46 45 46;
    --white: 255 255 255;
  }

  label {
    @apply select-none;
  }

  h1 {
    @apply font-sans-display text-3xl font-bold;
  }

  h2 {
    @apply font-sans-display text-xl font-semibold leading-6;
  }

  h3 {
    @apply font-semibold;
  }

  ul,
  ol {
    @apply flex flex-col gap-3;
  }

  li {
    @apply list-inside list-disc;
  }

  em {
    @apply italic;
  }

  i {
    @apply not-italic;
  }

  body {
    @apply relative m-0 w-[100%] bg-background font-sans font-normal text-font selection:bg-primary selection:text-white selection:text-opacity-90;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply m-0 overflow-x-hidden scroll-smooth p-0 text-font;
  }

  * {
    @apply border-border text-font;
  }
}

@layer components {
  .base-image {
    @apply h-[100%] w-[100%] rounded-full object-cover;
  }

  .base-link {
    @apply w-fit hover:text-primary text-center transition-colors underline text-blue-400 underline-offset-4 sm:text-left;
  }

  .inputs {
    @apply h-fit w-[100%] max-w-[200px] resize-y rounded-xl border-[1px] border-solid border-font border-opacity-50 bg-background bg-opacity-70 px-[18px] py-[10px] leading-7 text-font outline-none placeholder:text-[0.9rem] focus:border-font focus:border-opacity-70 focus:shadow-[0_0_20px_rgba(0,0,0,0.1)] focus:transition-shadow disabled:border-none disabled:bg-foreground disabled:placeholder:text-transparent mobile:max-w-[260px] sm:max-w-md md:max-w-lg;
  }

  .base-border {
    @apply border-[1px] border-solid border-font/[.12];
  }

  .base-shadow {
    @apply shadow-[0_0_20px_rgba(0,0,0,.1)];
  }

  .base-range-input {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  .base-range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    background: rgb(var(--primary-default));
    border: 2px solid rgb(var(--white));
    outline: none;
    border-radius: 20px;
    cursor: pointer;
  }
}
