@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transparent: transparent;
  --error: #fd384f;
  --font: #1e1a17;
  --black: #1a1a1a;
  --white: #ffffffff;
  --primary: #ab7d41;
  --secondary: #e64422;
  --foreground: #ffffffff;
  --background: #c3b3a4;
}

.dark {
  --transparent: transparent;
  --error: #fd384f;
  --font: #c6c5cd;
  --black: #1b1e20;
  --white: #ffffffcc;
  --primary: #ab7d41;
  --secondary: #e64422;
  --foreground: #27282d;
  --background: #1b1b1f;
}

@layer base {
  label {
    @apply select-none;
  }

  h1 {
    @apply font-serif text-3xl font-medium;
  }

  h2 {
    @apply font-medium leading-6 text-xl;
  }

  h3 {
    @apply font-medium;
  }

  ul,
  ol {
    @apply flex flex-col gap-3;
  }

  li {
    @apply list-disc list-inside;
  }

  em {
    @apply italic;
  }

  i {
    @apply not-italic;
  }

  body {
    @apply w-[100%] relative font-sans m-0 bg-background text-font selection:bg-primary selection:text-white selection:text-opacity-90 font-normal uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply overflow-x-hidden m-0 p-0 scroll-smooth;
  }
}

@layer components {
  .base-image {
    @apply rounded-[50%] object-cover w-[100%] h-[100%];
  }

  .base-link {
    @apply text-center sm:text-left hover:text-primary transition-colors font-semibold;
  }

  .base-border {
    @apply border-dotted border-b-[3px] border-[#ffffff4c];
  }

  .base-corner-button {
    all: unset;
    @apply rounded-lg border-solid border-[1px] border-opacity-30 border-font  w-fit cursor-pointer place-content-center grid p-1;
  }

  .base-button-outline {
    all: unset;
    @apply px-[7px] py-[10px] cursor-pointer whitespace-nowrap text-ellipsis text-font overflow-hidden outline-none;
  }

  .base-label {
    @apply relative text-xl font-medium;
  }

  .base-button {
    all: unset;
    @apply w-fit cursor-pointer px-2 py-3 rounded-xl bg-primary text-white  whitespace-nowrap text-ellipsis overflow-hidden border-solid border-[1px] border-opacity-80 border-font  text-center hover:bg-primary hover:border-opacity-20 font-semibold hover:text-font transition-colors;
  }

  .inputs {
    @apply w-[100%] max-w-[200px] mobile:max-w-[260px] sm:max-w-md md:max-w-lg h-fit py-[10px] px-[18px] leading-7 outline-none resize-y rounded-xl bg-background bg-opacity-70 border-solid border-[1px] border-opacity-50 border-font text-font focus:border-font focus:border-opacity-70 focus:transition-shadow focus:shadow-[0_0_20px_rgba(0,0,0,0.1)] placeholder:text-[0.9rem] disabled:bg-foreground disabled:placeholder:text-transparent disabled:border-none;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-[8px] bg-background bg-opacity-70 hover:transition-all hover:delay-200 hover:ease-in-out;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-font hover:transition-all hover:delay-200 hover:ease-in-out before:content-none absolute top-[50%] bottom-[50%] before:w-[100%] before:h-[100%] before:min-h-[44px] before:min-w-[44px] before:translate-x-[50%] before:translate-y-[50%];
  }
}
