@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transparent: transparent;
  --error: #fd384f;
  --font: #4f4348;
  --black: #1a1a1a;
  --white: #ffffffff;
  --primary: #ab7d41;
  --secondary: #e64422;
  --foreground: #ffffffff;
  --background: #;
}

.dark {
  --transparent: transparent;
  --error: #fd384f;
  --font: #c6c5cd;
  --black: #1b1e20;
  --white: #ffffffcc;
  --primary: #ab7d41;
  --secondary: #e64422;
  --foreground: #27282d;
  --background: #1b1b1f;
}

@layer base {
  label {
    @apply select-none;
  }

  h1 {
    @apply font-sans-display text-3xl font-bold;
  }

  h2 {
    @apply font-sans-display font-semibold leading-6 text-xl;
  }

  h3 {
    @apply font-semibold;
  }

  ul,
  ol {
    @apply flex flex-col gap-3;
  }

  li {
    @apply list-disc list-inside;
  }

  em {
    @apply italic;
  }

  i {
    @apply not-italic;
  }

  body {
    @apply w-[100%] relative font-sans m-0 bg-background text-font selection:bg-primary selection:text-white selection:text-opacity-90 font-normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply overflow-x-hidden m-0 p-0 scroll-smooth text-font;
  }

  * {
    @apply text-font;
  }
}

@layer components {
  .base-image {
    @apply rounded-[50%] object-cover w-[100%] h-[100%];
  }

  .base-link {
    @apply text-center sm:text-left transition-colors hover:underline hover:underline-offset-4 w-fit;
  }

  .inputs {
    @apply w-[100%] max-w-[200px] mobile:max-w-[260px] sm:max-w-md md:max-w-lg h-fit py-[10px] px-[18px] leading-7 outline-none resize-y rounded-xl bg-background bg-opacity-70 border-solid border-[1px] border-opacity-50 border-font text-font focus:border-font focus:border-opacity-70 focus:transition-shadow focus:shadow-[0_0_20px_rgba(0,0,0,0.1)] placeholder:text-[0.9rem] disabled:bg-foreground disabled:placeholder:text-transparent disabled:border-none;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-[8px] bg-background bg-opacity-70 hover:transition-all hover:delay-200 hover:ease-in-out;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-primary hover:transition-all hover:delay-200 hover:ease-in-out before:content-none absolute top-[50%] bottom-[50%] before:w-[100%] before:h-[100%] before:min-h-[44px] before:min-w-[44px] before:translate-x-[50%] before:translate-y-[50%];
  }
}
